body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F3F4;
}

.navbar{
    background-color: white;
    color: #1b1d1f!important;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar .nav-item .nav-link {
    font-weight: bolder;
}

.ln-img{
    border-right: 1px solid #adaeae;
}

a{
    color: #1b1d1f;
}

.discover-menu{
    background-color: white;
    width: 100vw;
    display: none;
    position: fixed;
    box-shadow: 0px 60px 50px 1px rgba(0, 0, 0, 0.1);
    opacity: 1;
    z-index: 2;
}

.discover-menu .row h5 a {
    font-weight: bolder;
    color: black;
}

.discover-menu .row a {
    color: #a9a8a8;
}

.second-nav{
    box-sizing: border-box!important;
    border: 1px solid #F2F3F4;
    height: 100%;
}

.second-nav:hover, .active {
    border-bottom: 1px solid #0058a2;
    box-sizing: border-box!important;
    cursor: pointer;
}

.main-container{
    background-color: #F2F3F4;
    width: 100%;
    z-index: 1;
}


.profile-box{
    width: 90%;
    background-color: white;
}

.profile-icon{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-container{
    position: relative;
    background-color: white;
    width: 100%;
}

.connect-sidebar{
    position: fixed;
    top: 26%;
    left: 70%;
}

.liked{
    background-image: url("images/redlike.png");
    width: 30;
    height: 25;
    z-index: 2;
}

@media only screen and (max-width: 991px) {
    .profile-container, .connect-sidebar {
      display: none!important;
    }
}

.search-container{
    padding: 30px;
    display: none;
    position: fixed;
    top: 8.8%;
    background-color: white;
    z-index: 2;
    width: 100%;
    box-shadow: 0px 60px 50px 1px rgba(0, 0, 0, 0.1), 0px 60px 50px 1px rgba(0, 0, 0, 0.1); 
}

.category{
    color: #0058a2;
}

.category, .searchResult{
    cursor: pointer;
}

.messageBox{
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
    width: 17vw;
    position: fixed;
    top: 8.8%;
    z-index: 2;
    right: 5px;
    box-shadow: 0px 60px 50px 1px rgba(0, 0, 0, 0.1), 0px 60px 50px 1px rgba(0, 0, 0, 0.1);
}

.msgHeading{
    background-color: #1171c0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.messages{
    background-color: white;   
}

.fadeIn{
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
} 

.fadeup{
    animation: fadeup 1.5s linear;
}

@keyframes fadeup {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}